In [2]:
# Mengimpor library yang diperlukan
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.decomposition import PCA as sklearnPCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.datasets.samples_generator import make_blobs
from pandas.plotting import parallel_coordinates

In [5]:
# Import data ke python
missing_values = ["n/a", "na", "--", "#N/A"]
df = pd.read_excel('DATA_PERFORMANCE_Human.xlsx', na_values = missing_values)
df.head()

,Nama orang,Pangkat,talent_cluster,indeks_kesehatan,nilai_Kompetensi,nilai_Behavior,absen_tertekan,absen_nyaman,absen_semangat,engagement_ucapan,engagement_tinggal,engagement_berjuang,performansi_individu
0,1,III,POTENTIAL,C,1.22,4.27,1.0,0.0,182.0,5.00,5.00,5.33,NaN
1,2,II,POTENTIAL,0,0.88,4.02,0.0,1.0,62.0,7.00,7.00,7.00,NaN
2,3,IV,POTENTIAL,0,1.14,3.77,0.0,0.0,113.0,5.00,5.67,6.00,NaN
3,4,IV,POTENTIAL,B1,1.29,4.50,0.0,2.0,156.0,5.00,5.00,6.00,96.96
4,5,IV,POTENTIAL,B2,1.37,4.17,1.0,229.0,1.0,6.67,5.67,5.67,96.70

In [6]:
print (df['absen_semangat'].isnull())

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
11638     True
11639     True
11640     True
11641     True
11642     True
11643     True
11644     True
11645     True
11646     True
11647     True
11648     True
11649     True
11650     True
11651     True
11652     True
11653     True
11654     True
11655     True
11656     True
11657     True
11658     True
11659     True
11660     True
11661     True
11662     True
11663     True
11664     True
11665     True
11666     True
11667     True
Name: absen_semangat, Length: 11668, dtype: bool

In [7]:
print (df.isnull().sum())

Nama orang                 0
Pangkat                  139
talent_cluster             0
indeks_kesehatan           0
nilai_Kompetensi           0
nilai_Behavior             0
absen_tertekan          1891
absen_nyaman            1891
absen_semangat          1891
engagement_ucapan          0
engagement_tinggal         0
engagement_berjuang        0
performansi_individu    4741
dtype: int64

In [8]:
df.dropna(inplace =True)

In [9]:
to_drop = ['Nama orang', 'Pangkat', 'talent_cluster', 'indeks_kesehatan']
df.drop(to_drop, inplace=True, axis=1)

In [10]:
print (df.isnull().sum())

nilai_Kompetensi        0
nilai_Behavior          0
absen_tertekan          0
absen_nyaman            0
absen_semangat          0
engagement_ucapan       0
engagement_tinggal      0
engagement_berjuang     0
performansi_individu    0
dtype: int64

In [13]:
X = df.drop(['performansi_individu', 'engagement_berjuang'], axis = 1)
X.values.astype(float)
X.head()

,nilai_Kompetensi,nilai_Behavior,absen_tertekan,absen_nyaman,absen_semangat,engagement_ucapan,engagement_tinggal
3,1.29,4.50,0.0,2.0,156.0,5.00,5.00
4,1.37,4.17,1.0,229.0,1.0,6.67,5.67
8,0.85,3.85,0.0,0.0,171.0,6.33,7.00
10,1.15,3.53,0.0,64.0,103.0,4.33,6.67
12,0.96,3.66,0.0,0.0,223.0,6.00,7.00

In [14]:
y = df['performansi_individu']
y.values.astype(float)
y.head()

3     96.96
4     96.70
8     99.27
10    97.39
12    99.69
Name: performansi_individu, dtype: float64

In [15]:
regressor = SVR(kernel = 'linear')
regressor.fit(X.values, y.values)

yPred = regressor.predict(X.values)

print ("Score :", regressor.score(X.values, yPred))
print ("MSE : %.2f" % mean_squared_error(y.values, yPred))

Score : 1.0
MSE : 13.54

In [16]:
print(X.values)

[[  1.29   4.5    0.   ... 156.     5.     5.  ]
 [  1.37   4.17   1.   ...   1.     6.67   5.67]
 [  0.85   3.85   0.   ... 171.     6.33   7.  ]
 ...
 [  1.03   3.84   0.   ... 131.     5.     4.  ]
 [  1.08   3.67 119.   ...   0.     5.     1.  ]
 [  1.05   3.81   0.   ... 161.     6.     6.33]]

In [17]:
Xnew = [[2, 1.7, 3, 2.2, 1, 2.1, 1.6]]
ynew = regressor.predict(Xnew)

print(ynew)

[99.17194096]

In [19]:
# pca = sklearnPCA(n_components=2) #2-dimensional PCA
# transformed = pd.DataFrame(pca.fit_transform(X_norm))

# plt.scatter(transformed[y==1][0], transformed[y==1][1], label='Class 1', c='red')
# plt.scatter(transformed[y==2][0], transformed[y==2][1], label='Class 2', c='blue')
# plt.scatter(transformed[y==3][0], transformed[y==3][1], label='Class 3', c='lightgreen')

# plt.legend()
# plt.show()

C:\Users\PC-CANTIK\Anaconda3\envs\ysf-1\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match